@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-bg:#f6e0a4;
  --color-bg--light-blue: #00c1b5;
  --color-bg--orange: #ff6519;
  --color-bg--yellow: #f6e0a4;
  --color-bg--dark-yellow: #ffbe00;
  --color-bg--dark-blue: #1d3fbb;
  --color-bg--pink: #ff608c;
  --color-bg--red: #E30512;
  --color-bg--white: #fff;
  --color-text--red: #212121;
  --font-helvetica: "helvetica", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

h2, h3, h4, p {
  font-family: var(--font-roboto);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

h1 {
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul, li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  background-color: var(--color-bg);
  transition: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) background-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  align-items: center;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overall {
  position: fixed;
  z-index: 1;
  margin: 0.8rem;
}
.overall-title {
  top: 0;
  left: 0;
  font-family: var(--font-helvetica);
  color: var(--color-text);
  font-size: 1.2rem;
}
.overall-email {
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  line-height: 25px;
  margin: 1.1rem 1rem;
}
.overall-description {
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  margin: 1.1rem 1rem;
  width: 20rem;
}
.overall-description .description {
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.3px;
}
.overall-description .copyright {
  font-size: 12px;
  line-height: 25px;
  margin-top: 5px;
}
.overall-description .policy {
  font-size: 17px;
  margin-top: 20px;
  text-decoration-line: underline;
}
.overall-list {
  bottom: 0;
  right: 0;
  font-size: 18px;
  list-style: none;
  font-weight: 300;
  margin: 1.1rem 1rem;
  line-height: 28.8px;
}

@media only screen and (max-width: 991px) {
  .overall-title {
    width: 100%;
    position: relative;
    transform: translateY(1.6rem);
    margin-left: 2.5rem;
  }
  .overall-title h1 {
    position: absolute;
  }
  .overall-email,
  .overall-description,
  .overall-list {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .overall-title {
    width: 100%;
    position: relative;
    transform: translateY(1.6rem);
    margin-left: 2.5rem;
  }
  .overall-title h1 {
    position: absolute;
    font-size: 1.5rem;
  }
  .overall-email,
  .overall-description,
  .overall-list {
    display: none;
  }
}
.sections {
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  min-width: 100vw;
  height: 100dvh;
  scroll-snap-align: start;
}
.section img {
  width: 400px;
}
.section h2, .section p {
  margin-bottom: 20px;
}
.section h2 {
  font-size: 18px;
}
.section p {
  font-size: 15px;
  font-weight: 700;
}
.section p a {
  color: white;
}
.section .text-pink {
  color: var(--color-bg--pink);
}
.section .point {
  font-weight: 300;
}

@media only screen and (max-width: 991px) {
  html, body {
    height: initial;
  }
  .sections {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-type: none;
  }
  .section {
    min-width: 100vw;
    height: 100dvh;
  }
}
@font-face {
  font-family: helvetica;
  src: url(../../assets/fonts/HelveticaCondensed.ttf);
}

/*# sourceMappingURL=style.css.map */
